html {
    scroll-behavior: smooth; /* Ensures the webpage keeps a smooth user experience */
}
*, *::before, *::after {
    margin: 0;
    padding: 0;
    outline: none;
    appearance: none;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
:root{
	--accent-color: #000;
}
body {
	margin: 0%; /* This ensures our site displays all the way to the edge of the browser screen */
	background-color: #000;
	color: #fff;
	font-family: "SuisseIntl-Regular";
	font-weight: normal;
	transition: all 1.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	overflow: hidden;
	width: 100%;
	font-size: calc(100vw / 320 * 10);
}
body:before {
    animation: grain 8s steps(10) infinite;
    background-image: url(https://s.cdpn.io/9632/paper-pattern.png);
    content: "";
    height: 300%;
    left: -50%;
    opacity: 0.06;
    position: fixed;
    top: -100%;
    width: 300%;
}
.portfolio-nav {
	position: fixed; /* This keeps the navbar at the top of the screen as we scroll */
	top: 0; /* This ensures no space is displayed above the navbar */
	z-index: 1; /*This ensures other elements don't display over the navbar */
	display: flex; 
	align-items: center;
	padding: .5rem 1rem;
	width:100%;
	background: -webkit-gradient(linear, left top, left bottom, from(var(--accent-color)), color-stop(88.96%, rgba(0, 0, 0, 0))); /*background color for the navbar*/
}

/*styling for the click-able anchor elements in the navbar*/
.portfolio-nav .menu a {
	font: bold 18px sans-serif;
	text-decoration: none;
	background-color: transparent; /*makes the anchor elements in the navbar have a transparent background*/
	display: inline-block;
	padding-top: .3125rem; /*padding between the anchor elements in the navbar*/
	padding-bottom: .3125rem; /*padding between the anchor elements in the navbar*/
	font-size: 1.5rem;
	opacity:.75;
	color: #fff;
}

/*Navbar anchor item animation when mouse is clicked and held down*/
.portfolio-nav a:active {
	transform: rotate(15deg);
	animation-duration: 0ms;
}

/*styling for the <ul> that contains the items in the navbar*/
.menu-container{
	
	margin-left: auto;
}
.menu {
    font: bold 14px sans-serif; /*what is the purpose of this? */
    text-align: center;
    list-style: none;
	margin: 0;
    display: inline-block;
    
}

/*styling for the navbar menu items*/
.menu li{
    color: #B3B3B3;
    display: inline-block;
    position: relative;
    padding: 12px 40px;
    border-radius: 25%/50%;
    cursor: pointer;
	border: white 2px solid;

}

/*hover effect for the navbar menu items*/
.menu li:hover{
    background-color: rgba(0,0,0,0.9);
	border-color:(255,255,255,0.9);
}
.menu li:hover a{
	color: rgba(179, 179, 179, 0.9);
}
.menu li:hover .sub-menu li a{
	color: #fff;
}

/*hover effect for the list items in the navbar*/
.menu li:hover ul{
    display: block;
    opacity: 1;
    visibility: visible;
}

/*styling for the navbar dropdown submenu, which holds the anchor link to the Live Projects page*/
.sub-menu {
    padding: 0;
    left: 0;
    top: 61.5px;
    width: 125.5px;
    opacity: 0;
	visibility: hidden;
	border-radius: 20% 50%;
	position: absolute;
	margin-left: 10%;
}

/*styling for the list item in the navbar dropdown submenu*/
.sub-menu li {
    background-color: #000;
    text-align: center;
	color: #fff;
	color: #fff;
}

/*hover effect for the list item in the navbar dropdown submenu*/
.sub-menu li:hover{
    background-color: rgba(0,0,0,.9);
	border-color:(255,255,255,0.9);
}
.menu li:hover .sub-menu li:hover a{
	color: rgba(179, 179, 179, 0.9);
}
/*styling for the anchor element in the navbar dropdown submenu, which, when clicked, opens a link to the Live Projects page*/
.sub-menu li a {
	font: bold 16px sans-serif;
}
/**. not me**/

.work__page, .uses__page, .about__page .my-philosophy, .about__page .section-50, .about__page .presentation, .about__page .location__time, .about__page hr, .about__page .little__intro, .index__page .navigation__section, .index__page .index__left-text, .index__page .index__right-text, .index__page .index__hero {
  margin-right: 10px;
  margin-left: 10px;
}

html,
body {
  height: 100%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}


hr {
  border-top: 1px solid black;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img,
iframe {
  vertical-align: middle;
  max-width: 100%;
}

input,
textarea,
select {
  font: inherit;
}

:root {
  --accent-color: #000;
}

@font-face {
  font-family: "MonumentExtended-Regular";
  src: url("../fonts/MonumentExtended-Regular.woff2") format("woff2");
  src: url("../fonts/MonumentExtended-Regular.woff") format("woff"), url("../fonts/MonumentExtended-Regular.otf"), url("../fonts/MonumentExtended-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MonumentExtended-Regular.svg#MonumentExtended-Regular") format("svg"), url("../fonts/MonumentExtended-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SuisseIntl-Regular";
  src: url("../fonts/SuisseIntl-Regular.eot");
  src: url("../fonts/SuisseIntl-Regular.woff2") format("woff2"), url("../fonts/SuisseIntl-Regular.woff") format("woff"), url("../fonts/SuisseIntl-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SuisseIntl-Regular.svg#SuisseIntl-Regular") format("svg"), url("../fonts/SuisseIntl-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Canela-Regular";
  src: url("../fonts/Canela-Regular.eot");
  src: url("../fonts/Canela-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Canela-Regular.svg#Canela-Regular") format("svg"), url("../fonts/Canela-Regular.ttf") format("truetype"), url("../fonts/Canela-Regular.woff") format("woff"), url("../fonts/Canela-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@media (min-width: 769px) {
  body {
    font-size: calc(100vw / 768 * 10);
  }
}
body:before {
  animation: grain 8s steps(10) infinite;
  background-image: url("https://s.cdpn.io/9632/paper-pattern.png");
  content: "";
  height: 300%;
  left: -50%;
  opacity: 0.06;
  position: fixed;
  top: -100%;
  width: 300%;
}
@media (max-width : 320px) {
    body:before{display:none;}
}

@keyframes grain {
  0%, 100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}
h1,
h2,
h3 {
  font-family: "MonumentExtended-Regular";
  font-weight: normal;
}

a {
  transition: all 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
a:hover {
  opacity: 0.6;
}

img, video, iframe, figure {
  pointer-events: none;
}

.c-scrollbar {
  opacity: 0 !important;
}
@media (min-width: 769px) {
  .c-scrollbar {
    opacity: 1 !important;
  }
}


.container {
  padding-top: 150px;
}

.canela {
  font-family: "Canela-Regular";
}

.monument {
  font-family: "MonumentExtended-Regular";
}

.visually-hidden {
  visibility: hidden;
}

.display-none {
  display: none;
}

.uppercase {
  text-transform: uppercase;
}

.overflow-h {
  overflow: hidden;
}

.anim-scroll_element {
  transition: transform 0.9s cubic-bezier(0.38, 0.005, 0.215, 1) 0.3s;
  transform: translateY(100%);
}

.anim-text_element {
  transition: transform 0.6s cubic-bezier(0.38, 0.005, 0.215, 1) 0.5s, opacity 0.9s cubic-bezier(0.38, 0.005, 0.215, 1);
  transform: translateY(100%);
  opacity: 0;
}

.anim-hr_element {
  transition: all 0.9s cubic-bezier(0.38, 0.005, 0.215, 1) 0.3s;
  width: 0%;
}

.loaded .anim-scroll.is-inview .anim-scroll_element {
  transform: translateY(0);
}
.loaded .anim-text.is-inview .anim-text_element {
  transform: translateY(0);
  opacity: 1;
}
.loaded .anim-hr.is-inview .anim-hr_element {
  width: calc(100% - 20px);
}

.loaded .anim.is-inview h1 {
  animation: try 1s forwards cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

@keyframes try {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}


/*! locomotive-scroll v4.1.1 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

[data-scroll-direction=horizontal] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap;
}

[data-scroll-direction=horizontal] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
}

.c-scrollbar:hover {
  transform: scaleX(1.45);
}

.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
  opacity: 1;
}

[data-scroll-direction=horizontal] .c-scrollbar {
  width: 100%;
  height: 10px;
  top: auto;
  bottom: 0;
  transform: scaleY(1);
}

[data-scroll-direction=horizontal] .c-scrollbar:hover {
  transform: scaleY(1.3);
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}

.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

[data-scroll-direction=horizontal] .c-scrollbar_thumb {
  right: auto;
  bottom: 0;
}


.index section:not(.index__hero), footer {
  opacity: 0;
  transition: all 1s cubic-bezier(0.79, 0.31, 0, 0.93) 0.7s;
}

.index.loaded .is-inview {
  opacity: 1;
}
.index.loaded .is-inview .anim {
  transform: translateY(0);
}

.index__page section h1 {
  margin-bottom: 1.115rem;
}
.index__page section h2 {
  margin-bottom: 1.015rem;
}
.index__page .index__hero {
  font-size: 7vw;
  text-transform: uppercase;
}
.index__page .index__hero p {
  font-size: 1.3rem;
  max-width: 680px;
}
.index__page .index__hero .image-side .image__wrapper {
  margin-top: 2rem;
  background: grey;
  width: 100%;
  height: 100vw;
  position: relative;
}
.index__page .index__hero .image-side .image__wrapper img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
@media (min-width: 1001px) {
  .index__page .index__hero {
    position: relative;
    width: 100%;
    height: calc(100vh - 15rem);
  }
  .index__page .index__hero .hero-text {
    margin-top: 3rem;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    z-index: 3;
    mix-blend-mode: difference;
  }
  .index__page .index__hero .hero-text h1 {
    font-size: 7rem;
    max-width: 1050px;
    text-transform: uppercase;
  }
  .index__page .index__hero .image-side .image__wrapper {
    border-radius: 30px;
    overflow: hidden;
    transform: rotate(6.46deg);
    width: 24.2rem;
    height: 31.05rem;
    margin: auto;
    position: absolute;
    top: 50%;
    background-color: grey;
    right: 4rem;
    mix-blend-mode: difference;
    transform: translateY(-50%) rotate(6.46deg);
    animation: bounce 2s ease alternate 5 0s;
    z-index: -21;
  }
  .index__page .index__hero .image-side img {
    object-fit: cover;
    height: 100%;
  }
}
.index__page .index__right-text {
  line-height: 1.4;
  text-transform: uppercase;
  margin-top: 150px;
  margin-left: 50%;
  margin-bottom: 150px;
}
.index__page .index__big-image {
  margin: 150px 0;
  width: 100%;
  height: 700px;
  position: relative;
}
.index__page .index__left-text {
  line-height: 1.4;
  text-transform: uppercase;
  margin-top: 150px;
  margin-right: 50%;
  margin-bottom: 150px;
}
.index__page .navigation__section {
  margin-bottom: 100px;
}
.index__page .navigation__section small {
  text-transform: uppercase;
}
.index__page .navigation__section nav ul .link {
  text-transform: uppercase;
  font-size: 12vw;
  font-family: "MonumentExtended-Regular";
}
.index__page .navigation__section nav ul .link:not(:last-child) {
  margin-bottom: 1.015rem;
}
.index__page .navigation__section nav ul .link:nth-child(2n) {
  margin-left: 50%;
}
.index__page .navigation__section nav ul .link a {
  -webkit-text-stroke: white 1px;
}
.index__page .navigation__section nav ul .link a:hover {
  color: transparent;
}

@keyframes bounce {
  from {
    transform: translateY(-40%) rotate(6.46deg);
  }
}
@keyframes marquee {
  0% {
    transform: translate3d(var(--move-initial), 0, 0);
  }
  100% {
    transform: translate3d(var(--move-final), 0, 0);
  }
}
